@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../assets/fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Merriweather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-base: "Open Sans";
$font-alt: "Merriweather";