@import "../scss/settings/colors";
@import "../scss/settings/mixins";

#home-header {
  height: 963px;
  width: 100%;
  display: flex;

  .hero-image {
    background: url(../assets/img/Home-Hero-Image.jpg) no-repeat;
    background-size: cover;
    background-position: 100%;
    width: 50%;
    height: 100%;
  }
  .hero-info {
    padding-top: 50px;
    width: 50%;
    height: 100%;
    margin-right: 142px;
    article {
      margin-top: 250px;

      @include header-decoration();

      .cta {
          display: flex;
          justify-content: space-between;
          margin-top: 70px;
          padding: 70px;
          
          @include link-button();
      }
    }
  }
}
